body {
  
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  
  /* === Container === */
  
  .container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    
  }
  
  /* === Header === */
  
  .header {
    height: 95px;
    padding: 34px;
    color: #ffffff;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .header__logo h1 {
    font-family: 'Lato',sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.3px;        
  
    margin: -5px 0px 6px -2px;
  }
  
  .header__logo span {
    color: #f06c64;
  }
  
  /* === Nav === */
  
  .nav {
    display: flex;
    
  }
  
  .nav__link {
    margin-left: 30px;
     
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-decoration: none;
  
    position: relative;
    transition: color 0.1s linear;
  }
  
  .nav__link:after {
    content: "";
    background-color: #494e62;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    right: -16px;
  
    transform: translateY(-50%);
  }
  
  .nav__link:hover {
    color: #f06c64;
    text-decoration: underline;
  }
  
  .nav__link:last-child:after {
    width: 0;
  }
  
  .nav__link:first-child {
    margin-left: 0;
  }
  
  .nav__link.active {
    color: #f06c64;
  }
  
  /* === Slider === */
  
  .slider {
    height: 600px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
  }
  
  .slider__inner {
    position: relative;
  }
  
  .slider__item {
    display: flex;
  }
  
  .iphone_ver {
    padding: 53px 0 0 72px;
  }
  
  .iphone_hor {
    padding: 174px 0 0 73px;
  }
  
  .prev {
    position: absolute;
    top: 52%;
    left: 2px;
    cursor: pointer;
  }
  
  .next {
    position: absolute;
    top: 52%;
    right: 0;
    cursor: pointer;
  }
  
  /* === Services === */
  
  .section {
    padding: 59px 0 27px;
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  
  .section__title {
    font-family: 'Lato', sans-serif;
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 19px;
  }
  
  .section__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #767e9e;
    line-height: 1.65;
    letter-spacing: -0.22px;
    font-weight: 300;
    text-align: justify;
  
    margin-bottom: 43px;
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
  }
  
  .services__item {
    flex: 1 1 0;
    
    position: relative;
    max-width: 299px;
    overflow: hidden;
    
    padding-left: 80px;
    margin-bottom: 28px; 
  }
  
  
  .services__icon {
    position: absolute;
    top: 4px;
    left: 0; 
  }
  
  .services__title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
  
    margin-bottom: 9px;
  
  }
  .services__text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #767e9e;
    line-height: 1.75;
    letter-spacing: -.1px;
    text-align: justify ;
  }
  
  .services__title.support {
    letter-spacing: -.55px;
  }
  
 /* === Portfolio === */

 .portfolio{
    background-color: #2d303a;
    height: 869px;
    border-bottom: 6px solid #323746;
}

.portfolio_title{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #666d89;
    font-size: 30px;
    letter-spacing: .17px;

    padding-top: 60px;
}

.portfolio_subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #767e9e;
    font-size: 18px;
    letter-spacing: -0.22px;   

    padding-top: 22px;
}

.portfolio__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.portfolio__list li {
    min-width: 39.5px;
}

.portfolio__list_item{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #767e9e;
    font-size: 12px;
     line-height: 1.6em;
     cursor: pointer;
     letter-spacing: normal;
    text-decoration: none;     
    
    border: 1px solid #767e9e;
    border-radius: 5px;

    padding: 3px 6px;
    margin-right: 10px;

    transition: border-color .1s linear

}
.portfolio_active {
    
    border: 1px solid #ffffff;
    color: #ffffff;
}

.portfolio__list_item:hover {
    border-color: #ffffff;
    color: #ffffff;
}

.portfolio__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 20px;
}

.portfolio_images_item {
    position: relative;

    width: 220px;
    height: 187px;

    overflow: hidden;
    margin-bottom: 20px;
}

.portfolio__img1 {
    position: absolute;

    top: 58%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img2 {
    position: absolute;

    top: 50%;
    left: 45%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img3 {
    position: absolute;

    top: 81%;
    left: 52%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img4 {
    position: absolute;

    top: 51%;
    left: 49%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img5 {
    position: absolute;

    top: 66%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -51%, 0);
}


.portfolio__img6 {
    position: absolute;

    top: 50%;
    left: 51%;
    z-index: 1;

    transform: translate3d(-50%, -51%, 0);
}

.portfolio__img7 {
    position: absolute;

    top: 78%;
    left: 70%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img8 {
    position: absolute;

    top: 57%;
    left: 52%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img9 {
    position: absolute;

    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img10 {
    position: absolute;

    top: 81%;
    left: 43%;
    z-index: 1;

    transform: translate3d(-50%, -40%, 0);
}

.portfolio__img11 {
    position: absolute;

    top: 16%;
    left: 29%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__img12 {
    position: absolute;

    top: 82%;
    left: 51%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

/* About Us */

.about{
    padding: 71px 0 68px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff ;
}

.about__title {
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    font-weight: 900;
    color: #666d89;
    line-height: 11px;
    letter-spacing: -.7px;

    margin-bottom: 31px;
}

.about__subtitle {
    margin-bottom: 45px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    
    text-align: justify;
    line-height: 30px;
    letter-spacing: -0.23px;
}

.about__inner {
    display: flex;
    justify-content: space-between; 
}

.about__item {
    width: 33,33333%;
    max-width: 300px;
    overflow: hidden;
}


.about__item:first-child {
    margin-right: 19px;
}


.about__item:last-child {
    margin-left: 21px;
}

.about__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.about__name {
    margin-top: 18px;
    margin-bottom: 12px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 15px;
    color: #666d89;
}

.about__name__second{
    letter-spacing: -.17px;
}

.about__text {
    margin-bottom: 23px;

    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;

    text-align: justify;
    letter-spacing: -.04px;
}

.about__text__first{
    letter-spacing: -.149px;
}

/* Social */

.social {
    display: flex;
}

.social--footer {
    margin-right: -8px;
}

.social__item {
    display: flex;

    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;  
    border-radius: 50%;

    margin-right: 8px;
    border: 1px solid #666d89; 
    transition: background-color .2s linear;
}

.social__item:hover .social__icon {
    fill: #ffffff;
}

.social__item:hover {
    background-color: #a8a6a6;
}

.social__icon {
    fill: #666d89;
    display: block;
    height: 14px;

    transition: fill .1s linear;    
}

  /* === Quote === */

  .quote {
    padding-top: 59px;
    padding-bottom: 15px;
    background-color: #f06c64;
    border-bottom:  6px solid #ea676b;
}

   .qoute__title {
    margin-bottom: 18px;

    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #f0d8d9;

    letter-spacing: -.25px;
}

.quote__subtitle {
    margin-bottom: 42px;
    
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.68em;
    color: #f0d8d9;
    text-align: justify;
    letter-spacing: -.24px;
}

.quote__inner {
    display: flex;
    justify-content: space-between;
}
.quote__contact_info {
    width: 33.33%;
    padding-left: 12px;
}

.quote__contact_title {
    margin-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #f0d8d9;
    letter-spacing: .4px;
}

.quote__contact_text {
    margin-bottom: 24px;
    max-width: 298px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.79em;

    text-align: justify;
    letter-spacing: -.089px;
}

.quote__contact_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quote__contact_item {
    padding-left: 2px;
    margin-bottom: 1px;
}
.quote__contact_item:first-child {
    padding-left: 4px;
}

.quote__contact_item:first-child img {
    margin-right: 9px;
}

.quote__contact_item:last-child {
    margin-top: 3px;
    padding-left: 1px;
}

.quote__contact_item img {
    margin-right: 8px;
}

.quote__contact_link {
    text-decoration: none;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.2px;
}

.quote__contact_link:hover {
    text-decoration: underline;
}


/* === Form === */

.form {
    width: 66.66%;
    padding-right: 7px;
}
.input {
    display: block;
    padding: 12px 15px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;

    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    outline: none;
}
.input:focus {
    background-color:  rgb(204, 49, 49);
    border: 1px solid rgb(247, 0, 0);
}

.input::placeholder {
    color: #f48c8f;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.input--area {
    resize: none;
    height: 202px;
}

.btn {
    display: block;
    padding: 9px 31px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #d6564f;
    background-color: #d6564f;
    color: #f48c8f;

    cursor: pointer;
    transition: color .1s linear, background-color .1s linear;
}

.btn:hover{
    color: #d6564f;
    background-color: #e9dada;
}


/* === Footer === */

.footer {

    padding: 22px;
    background-color: #2d303a;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright {
    margin-left: 2px;
  
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.004em;
    color: #666d89;
  }

    
